<div class="container">
  <div class="row mb-5">
    <div class="col-md-6 text-center d-sm-none d-md-flex">
      <img src="/img/g1327.png" alt="" class="img img-fluid img img-fluid pt-5 pb-5 mt-5">
    </div>
    <div id="index-right" class="col-md-6">
      <div class="row">
        <div class="col-12 pt-5 mt-5 text-sm-center text-md-left">
          <h1 class="text-uppercase">
            Optimisez votre récuprération physique et psychologique.
          </h1>
          <a href="/user/login" class="btn btn-primary mt-5"><i class="fas fa-user"></i> Se connecter</a>            
        </div>
      </div>
    </div>
  </div>
</div>
