<div class="container">
  <div class="row">
    <div id="index-left" class="col-md-6 text-center">
      <img src="/img/g1327.png" alt="" class="img img-fluid">
    </div>
    <div id="index-right" class="col-md-6">
      <div id="index-banner">
        <div class="row">
          <div class="col-12">
            <h1 class="text-uppercase">
              Optimisez votre récuprération physique et psychologique.
            </h1>
            <a href="/user/login" class="btn btn-primary"><i class="fas fa-user"></i> Se connecter</a>
          </div>
        </div>          
      </div>
    </div>
  </div>
</div>
