<div class="container mt-5 bg-light">
  <div class="row">
    <div class="col-12">
      <h1 class="h2 text-center mt-5 mb-2">Ajouter une activités</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 mx-auto mb-5 mt-5">
      <form action="/activities/add" method="post" id="activité">
        <!-- type -->        
        <div class="form-group">
          <label for="type">Sport*</label>
          <select class="form-control" id="type" name="type" required>
            <option>Cyclisme</option>
            <option>Running</option>
            <option>Trail</option>
            <option>Natation</option>
            <option>Stand Up Paddle</option>
            <option>Surf</option>
            <option>Musculation</option>
            <option>Fitness</option>
            <option>Crossfit</option>
            <option>Randonnée</option>
            <option>Meditation</option>
            <option>Etirements</option>
            <option>Yoga</option>
            <option>Autre</option>
          </select>
        </div>
        <!-- name -->
        <div class="form-group">
          <label for="name">Nom de la scéance*</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="ex: fractionné court" required>
        </div>
        <!-- distance -->
        <div class="form-group">
          <label for="distance">Distance en KM</label>
          <input type="number" class="form-control" id="distance" name="distance" min="0" value="0" step="0.01">
        </div>
        <!-- moving_time -->
        <div class="row">
          <div class="col-12">
            <label>Durée (HH:MM:ss)</label>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-group">
              <input type="number" class="form-control" id="moving_time_hours" name="moving_time_hours" min="0" value="0" step="1">
            </div>            
          </div>
          <div class="col-4">
            <div class="form-group">
              <input type="number" class="form-control" id="moving_time_minutes" name="moving_time_minutes" min="0" value="0" step="1">
            </div>            
          </div>
          <div class="col-4">
            <div class="form-group">
              <input type="number" class="form-control" id="moving_time_seconds" name="moving_time_seconds" min="0" value="0" step="1">
            </div>            
          </div>
        </div>
        <!-- total_elevation_gain -->
        <div class="form-group">
          <label for="total_elevation_gain">Dénivelé cumulé en m</label>
          <input type="number" class="form-control" id="total_elevation_gain" name="total_elevation_gain" min="0" step="1" value="0">
        </div>
        <!-- average_speed -->
        <div class="form-group">
          <label for="average_speed">Vitesse moyenne en Km/h</label>
          <input type="number" class="form-control" id="average_speed" name="average_speed" min="0" value="0" step="0.01">
        </div>
        <!-- calories -->
        <div class="form-group">
          <label for="calories">Calories dépensées</label>
          <input type="number" class="form-control" id="calories" name="calories" min="0" value="0" step="1">
        </div>
        <!-- start_date_local -->
        <div class="form-group">
          <label for="start_date_local">Date de l'activité*</label>
          <input type="date" class="form-control" id="date" name="start_date_local" autocomplete="on" required>
        </div>
        <!-- rpe -->        
        <div class="form-group">
          <label for="type">Difficulté ressentie</label>
          <select class="form-control" id="rpe" name="rpe" required>
            <option value="0.5">Très très légère</option>
            <option value="1">Très très légère</option>
            <option value="2">Très légère</option>
            <option value="3">Légère</option>
            <option value="4" selected>Moyen</option>
            <option value="5">Un peu dur</option>
            <option value="6">Assez dur</option>
            <option value="7">Dur</option>
            <option value="8">Très dur</option>
            <option value="9">Très très dur</option>
            <option value="10">Aussi dur qu'une compétition</option>            
          </select>
        </div> 
        <!-- description -->
        <div class="form-group">
          <label for="description">Description</label>
          <textarea class="form-control" id="description" rows="3" name="description"></textarea>
        </div>               
        <div class="row">
          <button type="submit" class="btn btn-primary col-md-4 d-inline mx-auto">Valider</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="alert alert-warning">* champs obligatoirs</p>
    </div>
  </div>
</div>