<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="font-primary mt-5 mb-5 text-center">Import .xls, .csv</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="d-block text-center fa-3x mt-3 mb-5">
        <i class="fas fa-building"></i>
      </div>
      <p class="mb-5">La fonctionnalité d'import est en cours de développement. En attendant, je réalise pour vous l'import des activités enregistrées dans un/des fichier(s) Excel. Pour ce faire, envoyez-moi vos fichiers .xls, .csv à <a href="mailto:pro@nicolasjouanno.com">pro@nicolasjouanno.com</a>. L'import sera réalisé sous 48h ouvrées.</p>
    </div>
  </div>
</div>