<div class="row mt-5 pt-5 pb-5">
  <div class="col-md-8 mx-auto">
    <div id="form-user" class="bg-light">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12 mb-5">
              <h1>Connexion</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 mx-auto">
              <strong class="text-muted">Application optimisée pour :</strong>
              <a href="/auth/strava" class="btn btn-strava d-block mt-2"><i class="fab fa-strava"></i> Se connecter avec Strava</a>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 mx-auto mt-3">
              <strong class="text-muted">Autres moyens de connexion :</strong>
              <a href="/auth/facebook" class="btn btn-facebook d-block mt-2"><i class="fab fa-facebook-f"></i> Se connecter avec Facebook</a>
            </div>
          </div>
          <div class="row">
            <div class="col-8 mt-5 mx-auto">
              <span class="text-muted">Inscription en 5 secondes, sans formulaire avec votre réseau favoris.</span>
            </div>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>