<div class="container">
  <div class="row">
    <div class="col-12 mt-5 mb-5 pt-5 pb-5 text-center">
      <img src="/img/Eclipse-1s-200px.gif" alt="loading">
    </div>
  </div>
</div>

<script>
  setTimeout(function () {
    // after 2 seconds
    window.location = "/activities/get/{{user._id}}/strava/all";
  }, 2000)
</script>
