@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*////////////////////////// 
START => IZIR MAIN
//////////////////////////*/

/* GENERAL */

body {
  padding-bottom: 20px;
  font-family: Montserrat, arial, sans-serif;
  font-size: 0.9em;
}

a {
  color: #23717e;
}

a:hover {
  color: #0fd5ff;
  text-decoration: none;
}

p {
  font-size: 0.9em;
}

footer{
  text-align: center;
  font-size: 0.8em;
}

footer h2, footer h3, footer h4 {
  text-align: center;
  text-transform: uppercase;
}

ul,li{
  list-style: none;
  padding: 0;
}

.header,
.marketing,
.footer,
p.footer {
  padding-right: 15px;
  padding-left: 15px; 
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.wrapper{
  overflow-y: hidden;
}

/* SPACER */
.spacer-xs-top{
  margin-top: 10px;
}

.spacer-sm-top{
  margin-top: 20px;
}

.spacer-md-top{
  margin-top: 50px;
}

.spacer-lg-top{
  margin-top: 80px;
}

.spacer-xs-bottom{
  margin-bottom: 10px;
}

.spacer-sm-bottom{
  margin-bottom: 20px;
}

.spacer-md-bottom{
  margin-bottom: 50px;
}

.spacer-lg-bottom{
  margin-bottom: 80px;
}

.spacer-xs-right{
  margin-right: 5px;
}

.spacer-sm-right{
  margin-right: 20px;
}

.spacer-md-right{
  margin-right: 50px;
}

.spacer-lg-right{
  margin-right: 80px;
}

.spacer-xs-left{
  margin-left: 5px;
}

.spacer-sm-left{
  margin-left: 20px;
}

.spacer-md-left{
  margin-left: 50px;
}

.spacer-lg-left{
  margin-left: 80px;
}
.border-top-box{
  border-top: 1px solid #999;
  padding-top: 10px;
}
.border-bottom-box{
  border-bottom: 1px solid #999;
  margin-bottom: 10px;
}
/* TEXT */
.txt-white {
  color: #FFF;
}

.txt-dark-blue {
  color: #23717e !important;
}

.txt-light-blue {
  color: #0fd5ff !important;
}

.uppercase{
  text-transform: uppercase;
}

.legend {
  font-size: 0.7em;
}

/* BLOCK */

.align {
  display: flex;
  align-items: center;
}

.hidde {
  display: none !important;
}

.block-shadow{
  box-shadow: 2px 2px 8px #0fd5ff;
}

/* BACKGROUND */

.bg-white {
  background-color: #FFF;
}

.bg-dark-blue {
  background-color: #23717e !important;
}

.bg-light-blue {
  background-color: #0fd5ff !important;
}

/* BORDER */
.border-dark-blue{
  border: solid 1px #23717e;
  color: #23717e !important;
  border-radius: 5px;
}

.border-light-blue{
  border: solid 1px #0fd5ff;
  color: #0fd5ff !important;
  border-radius: 5px;
}

/* HEADER */

.header{
  background:  
    linear-gradient(
      rgba(34, 115, 129, 0.4), 
      rgba(34, 115, 129, 0.4)
    ) , url(../img/headerHome.jpg) no-repeat !important; 
  background-size: cover  !important;
  background-position: center  !important;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

.header h1{
  color: #FFF;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

a.login > p{
  margin-top:auto;
  margin-left: 5px;
  margin-bottom: auto;
}

#mobile-menu {
  top:0;
  left: 0;
  margin: 0px 0 0 10px;
}

#smallscreen-search{
  margin-left: 20px;
}

#smallscreen-user, #smallscreen-search{
  display: inline-block;
  width: 32px;
  margin-top: 10px;
}

#menu-search-text, #menu-user-name{
  margin: auto 0 auto 5px;
}

#profil-menu h3 {
  font-size: 1em;
  font-weight: bold;
}

/* FOOTER */

#shop-in-shop {
    text-align: center;
    background-color: #0fd5ff;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* MENU */

.page-header{
  margin-top:0;
}

#menu > ul > li > a {
  font-weight: bold;
}

/* GOOGLE MAPS */

#map {
  width: 100%;
  height: 180px;
  background-color: grey;
}

/* BUTTON */
.delete-option {
  margin-top: 50px;
}

.delete-epreuve{
  margin-top: 70px;
}
/*////////////////////////// 
END <= IZIR CUSTOM
//////////////////////////*/

/*////////////////////////// 
START => PAGE INDEX
//////////////////////////*/
#index-header{
  height: 90vh;
}

#index-header h1 {
  font-size: 3em;
}

#index-header h2 {
  font-weight: 300;
  font-size: 1.5em;
}



/*////////////////////////// 
END <= PAGE INDEX
//////////////////////////*/

/*////////////////////////// 
START => PAGE EVENT DETAILS
//////////////////////////*/
#event-details-header{
  padding: 20px 0 20px 0;
}
#event-details-cta-box{
  display: block;
  padding: 20px 20px 20px 20px;
  border: solid 1px #999;
  margin: 20px;
}
#spacer-box{
  display: block;
  height: 20px;
}
#event-detail-slider{
  display: block;
  height: 260px;
}
.carousel-item{
  max-height: 260px;
}
/*////////////////////////// 
END <= PAGE EVENT DETAILS
//////////////////////////*/

/*////////////////////////// 
START => PAGE PROFIL
//////////////////////////*/


/*////////////////////////// 
END <= PAGE PROFIL
//////////////////////////*/


/*////////////////////////// 
START => PAGE FINDER
//////////////////////////*/

.moisOption{
  font-size: 86%;
  font-weight: 500;
}

button, .moisOption, .disciplineOption, #inscription-ouverte{
  cursor: pointer;
}

.tarif{
  font-weight: bold;
  font-size:0.8em;
  border: solid 1px #23717e;
  display: inline-block;
  padding: 2px 5px 2px 5px;
  border-radius: 2px;
}
/*////////////////////////// 
END <= PAGE FINDER
//////////////////////////*/


/*////////////////////////// 
START => BOOTSTRAPP CUSTOM
//////////////////////////*/
.container-fluid {
  padding-bottom: 0 0 0 0;
}

/* JUMBOTRON */
.jumbotron {
  text-align: center;
  margin: auto;
  background: none !important;
  border: none !important;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* BUTTON */
.btn-outline-primary {
  border-color: #23717e;
  color: #23717e;
}

.btn-outline-primary:hover{
  background-color: #23717e;
  border-color: #23717e;
}

.btn-default {
  background-color: #0fd5ff;
  color: #FFF;
}
.btn-default:hover {
  background-color: #23717e;
  color: #FFF;
}

.btn-secondary {
  background-color: #23717e;
  color: #FFF;
}
.btn-secondary:hover {
  background-color: #0fd5ff;
  color: #FFF;
}

/* BADGES */
.badge-primary {
  border: solid 1px #23717e;
  background: none !important;
  color: #23717e;
}

.badge-secondary {
  border: solid 2px #868e96;
  font-size: 0.95em;
  margin-bottom: 5px;
  font-weight: 500;
}
.badge-secondary:hover {
  border: solid 2px #23717e;
  font-size: 0.95em;
  background-color: #23717e !important;;
  color: #FFF;
}

.badge-warning {
  border: solid 1px #23717e;
  background: none !important;
  color: #23717e;
}

/* IMG */
.thumbnail {
  object-fit: cover;
  overflow: hidden;
  height: 200px; 
  width : 200px;
  border-radius: 50%;
}

/*////////////////////////// 
END <= BOOTSTRAPP CUSTOM
//////////////////////////*/

/*////////////////////////// 
START => CATALOGUE
//////////////////////////*/

.catalogue-main-img {
  max-height : 220px ;
}

.catalogue-secondary-img {
  max-height : 75px ;
}

/*////////////////////////// 
END <= CATALOGUE
//////////////////////////*/

/*////////////////////////// 
START => DEVICE BREAKPOINT DISPLAY
//////////////////////////*/


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*// XS - Extra small devices (portrait phones, breakpoint 576px)*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  h1 {
    font-size: 2em !important;
  }
  h2 {
    font-size: 1em !important;
  } 
  .d-xs-up{
    display: none;
  }

  .text-xs-center {
    text-align: center!important;
  }

  .margin-bottom-xs-down {
    margin-bottom: 10px;
  }

  #user-link > i, #menu-search-block > i, #mobile-menu-trigger{
  font-size: 1.2em;
  }
  #smallscreen-search{
    margin-left: 0;
  }
  .order-xs-1 {
    order:1;
  }
  .order-xs-2 {
    order:2;
  }
}

/* Extra small devices (portrait phones, more than 576px)*/
@media (min-width: 575px) { 
  .d-xs-down{
    display: none;
  }
}

/*// SM - Small devices (landscape phones, breakpoint 768px)*/
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767px) { 
  .d-sm-up{
    display: none;
  }
  .margin-top-xs-down {
    margin-top: 5px;
  }
  #menu-organisateur, #menu-participant{
    margin-top: 20px;
  }
  #smallscreen-user > a{
    margin-top: 10px;
  }
  #menu-user-name, #menu-search-text{
    display: none;
  }
  #smallscreen-menu-hidde{
    display: none;
  }
}

/* Small devices (landscape phones, more than 768px)*/
@media (min-width: 767px) {
  .d-sm-down{
    display: none;
  }
}

/*// MD - Medium devices (tablets, breakpoint 992px)*/
/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991px) { 
  .d-md-up{
    display: none;
  }
  #spacer-box{
    height: 5px;
  }
}

/* Medium devices (tablets, more than 992px)*/
@media (min-width: 991px) {
  .d-md-down{
    display: none;
  }
  .margin-top-md-down {
    margin-top: 10px;
  }
  
}

/*// LG - Large devices (desktops, breakpoint 1200px)*/
/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199px) { 
  .d-lg-up{
    display: none;
  }
  #logo img{
    width: 180px;
  }
  #spacer-box{
    height: 10px;
  }
}

/* Large devices (desktops, more than 1200px)*/
@media (min-width: 1199px) {
  .d-lg-down{
    display: none;
  }

}

/*////////////////////////// 
<= END DEVICE BREAKPOINT DISPLAY
//////////////////////////*/