@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

/*COLORS*/
/*https://flatuicolors.com/palette/nl*/
/*Main: #EE5A24 Secondary: #FFC312 */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Raleway", "Helvetica", "sans-serif";
  line-height: 1.1;
  color: inherit;
}

body {
  background-color: #F4F4F4;
}

.bg-img {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(248,9,9,0.1)),url(../img/bg-min.jpg);
  background-size: cover;
  height: 100vh;
}

#nav-logo {
  color: #FFF;
  font-family: "Anton", "Helvetica", "sans-serif";
  text-shadow: #000 1px 0 10px;
}
#nav-logo > span {
  font-family: "Permanent Marker", "Helvetica", "sans-serif";
  font-size: 0.8em;
  padding: 0 5px 0px 0;
  display: inline-block;
}

#nav-right {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px 0 0;
}

#nav {
  display: flex;  
  padding: 50px 0 0 50px;  
}

.banner {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.banner > h1 {
  width: 70%;
  line-height: 1.5;
  text-align: center;
  color: #FFF;
  font-weight: 500;    
}

.btn {
  font-family: "Raleway", "Helvetica", "sans-serif";
  border-radius: 0px;
  border: none;
  line-height: 2;
}

.btn-primary {
  background-color: #EE5A24;
}

.btn-primary:hover{
  background-color: #FFC312;
}

.text-primary {
  color: #EE5A24 !important;
}

.text-secondary {
  color: #FFC312 !important;
}

.border-primary {
  border-color: #EE5A24 !important;
}

.border-secondary {
  border-color: #FFC312 !important;
}

.bg-light {
  background-color: #FFF !important;
}

#form-user {
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0.07), 0 1px 0 0 rgba(0,0,0,0.03);
  padding: 50px 0 50px 0;
  background-color: #FFF;
  text-align: center;
}

.btn-strava {
  background-color: #fc4c02;
}